<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        
        <!-- My CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
        <title>Producto</title>
    </head>

    <body>
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div id="col1" class="col-lg-4 d-none d-lg-block">
                        <h1>Sistema de Gestión</h1>
                        <p>Inventario de Accesorios</p>
                    </div>

                    <div id="col2" class="col-lg-4 col-md-6 col-sm-6 col-10 text-center">
                        <a href="#">
                            <img id="logo" src="{{ url_for('static', filename='img/HANDMADE.png') }}">
                        </a>
                    </div>

                    <div id="col3" class="col-lg-3 col-md-4 col-sm-4 col-8 d-none d-sm-block">
                        <form class="buscar" method="post" action="{{ url_for('buscar_admin')}}">
                            <input type="text" placeholder="Buscar..." name="search">
                            <button type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div>

                    <div id="col4" class="col-lg-1 col-md-2 col-sm-2 col-2 text-center">
                        <input type="checkbox" id="show">
                        <label for="show" class="show-btn"><i class="bi bi-person-circle" style="cursor: pointer;"></i></label>
                        <div id="pop-up" class="container-popup">
                            <label for="show" class="close-btn" title="Close"><i class="bi bi-x" onmouseover="this.style.color='white'" onmouseout="this.style.color='dimgray'"></i></label>
                            <div class="text">Administrador</div>
                            <form action="{{ url_for('logout') }}">
                                <div class="data">
                                    <label>Nombre:</label>
                                    <br>
                                    <label>{{session['name']}}</label>
                                </div>
                                <div class="data">
                                    <label>Usuario:</label>
                                    <br>
                                    <label>{{session['userName']}}</label>
                                </div>
                                <div class="btn1">
                                    <div class="inner"></div>
                                    <button type="submit">Cerrar sesión</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-expand-sm navbar-dark" style="z-index: 100;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item text-center">
                            <a href="{{ url_for('inicio_administrador') }}">INICIO</a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn">INVENTARIO</a>
                            <div class="dropdown-content">
                              <a href="{{ url_for('agregar_accesorio') }}">Agregar accesorio</a>
                              <a href="{{ url_for('inventarioAdministrador') }}">Ver inventario</a>
                            </div>
                        </li>
                        <li class="dropdown">
                          <a href="javascript:void(0)" class="dropbtn">USUARIOS</a>
                          <div class="dropdown-content">
                            <a href="{{ url_for('registrar_usuario') }}">Registrar usuario</a>
                            <a href="{{ url_for('usuariosAdministador') }}">Ver usuarios registrados</a>
                          </div>
                        </li>
                    </ul>
                </div>

                <div id="col3" class="col-8 d-block d-sm-none">
                    <form class="buscar" method="post" action="{{ url_for('buscar_admin')}}">
                        <input type="text" placeholder="Buscar..." name="search">
                        <button type="submit"><i class="bi bi-search"></i></button>
                    </form>  
                </div>

            </nav>
        </header>

        <div id="encabezado">Modificar Accesorio</div>

        <div class="d-none d-sm-block">
            <form method="post" action="{{ url_for('editarProductoAdministrador')}}">
                <table style="width: 90%; margin: auto;">
                    <tbody class="text-center">
                        <tr>
                            <td style="text-align: center;">
                                <div class="categorias">
                                    <a target="_blank" href="{{ url_for('static', filename='img/aretes.jpg') }}">
                                        <img src="{{ url_for('static', filename='img/imgProductos/'+inventario[4]+'') }}" alt="aretes">
                                    </a>
                                </div>
                            </td>
                            
                            <td style="width: 50%;">
                                <div class="data1">
                                    <label>Nombre:</label>
                                    <input type="text" name="nombre" id="nombre" value="{{ inventario[2] }}" required>
                                    <input type="hidden" name="id" value="{{ inventario[0] }}">
                                </div>
                                <div class="data1">
                                    <label>Referencia:</label>
                                    <input type="text" name="referencia" id="referencia" value="{{ inventario[1] }}" required>
                                </div>
                                <div class="data1">
                                    <label>Cantidades en existencia:</label>
                                    <input type="number" name="cantidad" id="cantidad" value="{{ inventario[3] }}" required>
                                </div>
                            </td>
                        </tr>
    
                        <tr>
                            <td style="text-align: center; width: 50%">
                                <input type="submit" value="MODIFICAR ACCESORIO" class="button-admin">
                            </td>
    
                            <td style="text-align: center">
                                <a href="{{ url_for('eliminarProducto', id=inventario[0], ref=inventario[1]) }}" class="button-admin">ELIMINAR ACCESORIO</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <br>
        </div>

        <div class="d-block d-sm-none">
            <form method="post" action="{{ url_for('editarProductoAdministrador')}}">
                <div class="categorias">
                    <a target="_blank" href="{{ url_for('static', filename='img/aretes.jpg') }}">
                        <img src="{{ url_for('static', filename='img/imgProductos/'+inventario[4]+'') }}" alt="aretes">
                    </a>
                </div>

                <div class="data1">
                    <label>Nombre:</label>
                    <input type="text" name="nombre" id="nombre" value="{{ inventario[2] }}" required>
                    <input type="hidden" name="id" value="{{ inventario[0] }}">
                </div>
                <div class="data1">
                    <label>Referencia:</label>
                    <input type="text" name="referencia" id="referencia" value="{{ inventario[1] }}" required>
                </div>
                <div class="data1">
                    <label>Cantidades en existencia:</label>
                    <input type="number" name="cantidad" id="cantidad" value="{{ inventario[3] }}" required>
                </div>
                
                <div style="text-align: center;">
                    <input type="submit" value="MODIFICAR ACCESORIO" class="button-admin" style="width: 80%;">
                </div>

                <div style="text-align: center;">
                    <a href="{{ url_for('eliminarProducto', id=inventario[0], ref=inventario[1]) }}" class="button-admin" style="width: 80%;">ELIMINAR ACCESORIO</a>
                </div>  
            </form>
            <br>
        </div>

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="js/script.js"></script>
    </body>
</html>
